  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: yellow;
}

.img-container{
    width: 60%;
    height: 60vh;
    background: url("img/img1.jpg") center/cover fixed no-repeat;
    border: 0.5rem solid #fff700;
    position: relative;
    margin: 4rem auto;
}